body {
	background-color: white;
	background-image: url("https://www.google.com/imgres?imgurl=https%3A%2F%2Fwww.zingerbug.com%2FBackgrounds%2Fbackground_images%2Fpeach_mini_bricks_seamless_pattern.gif&imgrefurl=https%3A%2F%2Fwww.zingerbug.com%2FBackgrounds%2Findex_pages%2Fbricks_page6.htm&tbnid=soA9fyhNh7UhBM&vet=12ahUKEwiMlM3J6q74AhXUBc0KHU38BKQQMyhmegUIARC-AQ..i&docid=J0wY70ixtPfC5M&w=400&h=400&q=background%20wallpaper%20for%20html&ved=2ahUKEwiMlM3J6q74AhXUBc0KHU38BKQQMyhmegUIARC-AQ");
	color: black;
	margin: 25px
}
  

  
    
    
 
